@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

/* Hide scrollbar for all browsers */
body {
  overflow-y: scroll;
  /* still scrollable */
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal
}

/* Hide scrollbar for Chrome, Safari and Edge */
body::-webkit-scrollbar {
  display: none;
}


